/* css */


.shown { 
	background-color: #fff; 
	transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: linear;
}

	.project-cover.hide {
	visibility: hidden;
	transition-duration: 0.5s;
    transition-property: opacity;
    opacity: 0;
    transition-timing-function: linear;

}

.hide {
	display: none !important;
}


.needs-text {
	visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    
}


.needs-text.text-shown {
	transition-property: opacity, visibility, transform;
	visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0.0001s, opacity 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0.0001s;
    transition: transform 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0.0001s, opacity 0.7s cubic-bezier(0.0, 0.0, 0.2, 1) 0.0001s;
}
