/* css */


.shown { 
	background-color: #fff; 
	transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: linear;
}

	.project-cover.hide {
	transition-duration: 0.5s;
    transition-property: opacity;
    opacity: 0;
    transition-timing-function: linear;

}

.hide {
	display: none !important;
}