body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue','helvetica', 'airal', 'Noto Sans KR', san-serif;
	font-weight: 400;
	font-size: 20px;
	color: #424242;
	background: rgba(218, 225, 233, 0.15);
	word-break: keep-all;
}

p {
	font-size: 16px;
	color: #757575;
}

div {
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.2;
}




.btn-text {
	padding: 6px 16px;
	border-radius: 17px;
	font-weight: bold;
	font-color: #424242;
}
	.btn-text:hover {
		opacity: 0.2;
	    transition-duration: 0.1s;
	    transition-property: opacity;
	    transition-timing-function: linear;
	}


.chip {
	padding: 4px 12px;
	border-radius: 6px;
	font-size: 16px;
    cursor: pointer;
}

	.chip.active, .chip.active:hover, chip:hover {
		color: #fff;
		background-color: #212121;
		}

	.chip.disabled {
		color: #BDBDBD;
		border: none;
		}


	.chip:hover {
			background-color: #212121;
			color: #fff;
			transition-duration: 0.1s;
		    transition-property: background-color;
		    transition-timing-function: linear;
		}


.flex-box {
	display: flex;
	margin: 0 -24px;
}

	.flex-1 {
			flex: 1;
			margin: 0 24px;
		}


	.flex-2 {
			flex: 2;
			margin: 0 24px;
		}


	.flex-3 {
			flex: 3;
			margin: 0 24px;
		}


	.flex-4 {
			flex: 4;
			margin: 0 24px;
		}


	.flex-5 {
			flex: 5;
			margin: 0 24px;
		}


	.flex-6 {
			flex: 6;
			margin: 0 24px;
		}


	.flex-7 {
			flex: 7;
			margin: 0 24px;
		}


	.flex-8 {
			flex: 8;
			margin: 0 24px;
		}

	.flex-9 {
			flex: 9;
			margin: 0 24px;
		}


	.flex-10 {
			flex: 10;
			margin: 0 24px;
		}


	.flex-11 {
			flex: 11;
			margin: 0 24px;
		}


	.flex-12 {
			flex: 12;
			margin: 0 24px;
		}

.card {
	border-radius: 6px;
	-webkit-box-shadow: rgba(218, 225, 233, 0.2) 0px 8px 16px;
    box-shadow: rgba(218, 225, 233, 0.2) 0px 8px 16px;
}


   

	


