
.main-contents {
	padding-top: 107px;
	padding-bottom: 240px;
	background-color: #fff;
}

.main-contents > * {
	padding-left: 36px !important;
	padding-right: 36px !important;
}

	.selected-work {
		width: 1320px;
		margin: 0 auto;
		padding: 108px 0 0 0;
	}

		.selected-work-title {
			color: #212121;
			font-weight: bold;
		}

		.selected-work-filter {
			padding-top: 36px;
		}

			.selected-work-filter li {
				margin-right: 8px;
			}

		.selected-work-list {
			margin-top: 56px;
		}

			.selected-work-list-row {
				padding-bottom: 36px;
				display: flex;
				margin: 0 -32px;
			}

				.selected-work-list-row:last-child {
					padding-bottom: 0;
				}

					.selected-work-list-row a {
						flex: 1;
						margin: 0 32px;
					}

							.selected-work-list-row a .selected-work-list-pic:hover {

								-webkit-box-shadow: rgba(218, 225, 233, 0.2) 0px 24px 28px;
								box-shadow: rgba(218, 225, 233, 0.2) 0px 24px 28px;
								transition-duration: 0.1s;
							    transition-property: box-shadow;
							    transition-timing-function: linear;
							}

							.selected-work-list-row a .selected-work-list-pic {
								height: 320px;
								background-color: #F2F4F5;
								border-radius: 3px;
								background-size: 260px;
								background-repeat: no-repeat;
							    background-position-x: 50%;
							    background-position-y: 50%;
								-webkit-box-shadow: rgba(218, 225, 233, 0.2) 0px 8px 16px;
								box-shadow: rgba(218, 225, 233, 0.2) 0px 8px 16px;

							}

							.selected-work-list-pic.project4 {
								background-image: url("../img/project4.png");
							}

							.selected-work-list-pic.project3 {
								background-image: url("../img/project3.png");
							}

							.selected-work-list-pic.project2 {
								background-image: url("../img/project2.png");
							}

							.selected-work-list-pic.project1 {
								background-image: url("../img/project1.png");
							}

							.selected-work-list-row a div {
								margin-top: 20px;
								font-size: 16px;
								color: #757575;
							}

							.selected-work-list-row a.disabled .selected-work-list-pic {
								background-color: rgba(0, 0, 0, 0);
								-webkit-box-shadow: none;
								box-shadow: none;
								color: rgba(0, 0, 0, 0);
							}