
.main-contents {
	padding-top: 107px;
	padding-bottom: 240px;
}

	.selected-work {
		width: 1320px;
		margin: 0 auto;
		padding: 108px 0 0 0;
	}

		.selected-work-title {
			color: #212121;
		}

		.selected-work-filter {
			padding-top: 36px;
		}

			.selected-work-filter li {
				margin-right: 16px;
			}

		.selected-work-list {
			margin-top: 56px;
		}

			.selected-work-list-row {
				padding-bottom: 36px;
				display: flex;
				margin: 0 -32px;
			}

				.selected-work-list-row:last-child {
					padding-bottom: 0;
				}

					.selected-work-list-row a {
						flex: 1;
						margin: 0 32px;
					}

							.selected-work-list-row a .selected-work-list-pic {
								height: 320px;
								background-color: #F0F0F0;
								border-radius: 3px;
								background-size: contain;
								-webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
								box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
							}

							.selected-work-list-pic.project4 {
								background-image: url("../img/project4.png");
							}

							.selected-work-list-pic.project3 {
								background-image: url("../img/project3.png");
							}

							.selected-work-list-pic.project2 {
								background-image: url("../img/project2.png");
							}

							.selected-work-list-pic.project1 {
								background-image: url("../img/project1.png");
							}

							.selected-work-list-row a div {
								margin-top: 24px;
							}

							.selected-work-list-row a.disabled .selected-work-list-pic {
								background-color: rgba(0, 0, 0, 0);
								-webkit-box-shadow: none;
								box-shadow: none;
								color: rgba(0, 0, 0, 0);
							}