.project-contents-section .section-needs {
	margin-top: 100px;
}



	.section-needs .section-body {
		text-align: center;
		padding: 160px 0 120px;

	}




	.section-needs h2 {
		text-align: center;
		color: #212121;

		font-weight: bold;
	}

	.section-needs p {
		margin-top: 36px;
	}



.section-problem {

}


	.section-problem .asis-img {

	}


		.asis-img div {
			height: 600px;
			border-radius: 3px;
			-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
		    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);

		}



	.section-problem .asis-text {

		
	}

		.contents-list-text h5 {
			margin-top: 36px;
		}

		.contents-list-text:first-child h5 {
			margin-top: 0;
		}

		.contents-list-text p {
			margin-top: 4px;
		}



.section-goal {

}
	.goal-card {
		border-radius: 3px;
		background-color: #fff;
		text-align: center;
		padding: 128px 100px 140px;
/*		-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
	    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);*/
	    background-color: #FCFCFC;
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: 3px;

	}

	.goal-card h3 {
		font-weight: bold;
	}

	.goal-card p {
		margin-top: 20px;
	}


.section-flow {


}

	.section-flow .section-body{
		background-color: #FCFCFC;
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: 3px;
		
	}


	.flow-contents-box {
		margin: 0 auto;
		padding: 120px 180px
	}

	.flow-main.flex-px {
		flex: 192px;
	}

	.flow-border.flex-px {
		flex: 320px;
		margin: 0 20px 0 32px;
		padding-top: 168px;
	}

	.flow-main {
		text-align: center;
		font-weight: bold;
		font-size: ;
	}

		.flow-main-circle {
			margin: 0 auto;
			background-color: rgba(0, 0, 0, 0.75);
			height: 192px;
			width: 192px;
			border-radius: 100%;
		}

			.flow-main-circle-text {
				padding-top: 78px;
				color: #fff;
			}

	.section-flow .contents-list-text h5 {
	}

	.section-flow .vertical-line {
		height: 40px;
		margin: 12px auto;
		width: 1px;
		background-color: rgba(0, 0, 0, 0.3);

	}

	.section-flow .horizon-line {
		height: 1px;
		margin: 24px auto;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}


.section-layout {

}

.section-layout .section-body .flex-box {

}

	.layout-view {
		background-color: #FCFCFC;
		height: fit-content;
		color: #424242;

	}

	.layout-view.asis {


	}

	.layout-view .flex-box > div {
		text-align: center;
		padding: 36px 40px;
		border-top: 1px rgba(0, 0, 0, 0.03) solid;
		font-size: 16px;


	}

	.layout-view .flex-box.narrow > div {
		padding: 16px 40px;

	}

	.layout-view .flex-box.wide > div {
		padding: 80px 40px;

	}

	.layout-view .flex-box:first-child > div {
		
		border-top: none;


	}

	.layout-view .flex-box > div:nth-child(2n) {
		border-left: 1px rgba(0, 0, 0, 0.03) solid;
		margin-left: -24px;
	}

.section-responsive {

}

/*.section-responsive .flex-box:last-child {
	margin-top: 16px;
	
}*/

.section-responsive div > div {
	margin-top: 20px;

}
	

	.section-responsive .responsive-web {
		height: 2040px;
		background-color: #FCFCFC;
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: 3px;

	}


	.section-responsive .responsive-tablet {
		height: 500px;
		background-color: #FCFCFC;
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: 3px;
	}

	.section-responsive .responsive-mobile {
		height: 360px;
		background-color: #FCFCFC;
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: 3px;

	}


	.img-caption {
		margin-top: 8px !important;
		margin-bottom: 24px;
	}

.section-components {

}

	.section-components .ui-components{
		background-color: #FCFCFC;
		height: 1000px;
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid rgba(0, 0, 0, 0.03);
	}
