body {
	background-size: 100%;

}

.project-cover {
	position: absolute;
	z-index: 0;
	top: -140px;
	left: 50%;
	margin-left: 48px;
	width: 80%;
	max-width: 1000px;
	min-width: 500px;
	height: 1500px;
	background-position-x: center;
	background: linear-gradient(200deg, rgb(255, 255, 255, 0) 20%, rgb(255, 255, 255, 0.3), #FCFCFC 70%), linear-gradient(200deg, rgb(255, 255, 255, 0), rgb(255, 255, 255, 0.015) 90%), 
	url(../img/cover-project3.png);
	background-size: contain;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    transform:rotate(-20deg) translateX(-50%); 
    opacity: 1;
    border-radius: 6px;
    box-shadow: -1px -5px 10px -5px rgba(0,0,0,.02);
}
	




.project-contents {

	width: 100%;
	position: relative;
	margin-top: 680px;
	z-index: 10;
}

	.project-contents-box {
		border: 1px solid rgba(0, 0, 0, 0.03);
		background-color: #fff;
		width: 1320px;
		margin: 0 auto;
		padding-top: 56px;
		padding-bottom: 56px;
	}

		.project-info {

		}

			.project-info-box {
				padding: 0 68px;
			}

				.project-info-title h1 {
					display: inline;
					color: #212121
				}

				.project-info-coworker {
					margin-top: 44px;
				}

					.project-info-coworker li {
						vertical-align: top;
						margin-right: 40px;
					}

					.coworker-job {
						font-size: 16px;
						font-weight: bold;


					}

					.coworker-name {
						margin-top: 2px;
						color: ;
					}

				.project-year {
					margin-top: 24px;
				}



				.project-info-role {
					margin-top: 52px;

				}

				.project-info-role li {
					margin-right: 8px;

				}

.project-contents-section {
}

		.project-contents-section .section {
			border-top: 1px solid rgba(0, 0, 0, 0.03);
			padding-top: 140px;
			padding: 0 68px;
		}


		.project-contents-section > div{
			margin-top: 120px;

		}

			.section-title {
				margin-top: 72px;
				font-weight: bold;
				letter-spacing: 0.5px;
				color: #757575;

			}

			.section-body {
				margin-top: 36px;
				font-family: 'Noto Sans KR', 'Helvetica Neue','helvetica', 'airal', san-serif;
			}
				.section-body h5 {
					font-weight: bold;
					color: #212121;
				}


				.section-body p {
					color: #757575;
					margin-top: 4px;
				}

.proejct-footer {
	margin-top: 120px;
	padding-top: 40px;
	border-top: 1px rgba(0, 0, 0, .03) solid;
	text-align: right;
	padding: 40px 68px 0;
}

	.proejct-footer a {
		font-size: 20px;
		font-weight: bold;
	}

.footer {
	margin-top: 120px;
}


