.project-cover {

	background: url(../img/cover-project4.png);
 	background-repeat: no-repeat;
 	background-size: contain;
}
	

.asis-img > div {
 	background-image: url('../img/asis-project4.png');
 	background-repeat: no-repeat;
 	background-size: cover;

}



	.section-responsive .responsive-web {

		background-image: url('../img/web-project4.png');

	}


	.section-responsive .responsive-tablet {

		background-image: url('../img/tablet-project4.png');

	}

	.section-responsive .responsive-mobile {

		background-image: url('../img/mobile-project4.png');


	}


.section-components {

}

	.section-components .ui-components{

		background-image: url('../img/components-project4.png');

	}