/*title*/

h1 {
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -2.5px;
    line-height: 98px;
}


h2 {
	font-size: 48px;
	letter-spacing: -2.8px;
}

h3 {
	font-size: 34px;

}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

p {
	font-size: 16px;
}

caption {
	font-size: 12px;
}

